
ion-button {
  font-size: 1.6em;
  border-radius: 350%;
  width: 58px;
  height: 58px;
  margin-right:12px;
  margin-left: 12px;
  
  
 
}

.display {
  font-size: 2.8em;
  font-family: "deseg7";
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height:50px;
  text-align: right;
  
}

ion-grid {
  margin-top: 1.5em;
}


