<!-- l'entête de la page -->
<ion-header>
  <ion-toolbar>
    <ion-title>
        Ma Calculatrice 
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- le contenu de la page--> 
<ion-content color="dark">
  <ion-item>
    <ion-label class="display" color="dark">
      {{ display }}
    </ion-label>
  </ion-item>
  
  <ion-grid>
    <ion-row *ngFor="let ligneMatrice of Matrice" justify-content-start>
      <ion-col col-12 >
       <ion-button *ngFor="let num of ligneMatrice" (click)="fonctionCalculatrice(num)"
         color="danger">{{num}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!--fin du contenu-->