
ion-content {
  background-color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
  

}
ion-button {
  font-size: 1.6em;
  width: 90% !important;
  border-radius: 50px;
  height:"500px";
  
}

.display {
  font-size: 2.8em;
  text-align: center;
  color:white;
  font-family: "deseg7";
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  
}

